<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PSYSlot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21C7158E1DD02800005A6939</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C715A21DD02800005A6939</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C715AD1DD02800005A6939</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
